"*":
  editor:
    fontFamily: "mplus-1m-light"
    fontSize: 14
    showIndentGuide: true
    invisibles: {}
    preferredLineLength: 120
  core:
    disabledPackages: [
      "symbols-view"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    projectHome: "/Users/Sean/Projects"
  "exception-reporting":
    userId: "6e8631cc-911d-14df-e9f5-9ea66821c7bd"
  welcome:
    showOnStartup: false
  metrics:
    userId: "ecd7cd7471c27cb79116f1cff8f815fe04ed02fb"
  linter:
    statusBar: "Show error of the selected line"
    showErrorInline: false
    lintOnChange: false
  "linter-rubocop":
    rubocopExecutablePath: "/Users/Sean/.rbenv/shims/rubocop"
  react: {}
  "go-plus":
    goPath: "/Users/Sean/Projects/go-space"
    showPanel: false
  "linter-jsxhint":
    harmony: true
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
".js.jsx.source":
  editor:
    preferredLineLength: 120
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
