"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-material-ui":
    colors:
      abaseColor: "#80deea"
      accentColor: "#528c94"
      predefinedColor: "Cyan"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    minimumWordLength: 2
    useCoreMovementCommands: false
  autosave:
    enabled: true
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    projectHome: "/Users/atta/Projects/Fun"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Knack Nerd Font"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "94e745e9-e915-f841-b20d-53e208182164"
  fonts:
    fontFamily: "Mononoki"
    preview: "The quick brown fox"
  "fuzzy-finder":
    searchAllPanes: true
  "git-blame": {}
  "language-babel": {}
  linter: {}
  "linter-eslint":
    disableFSCache: true
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-rubocop":
    command: "bundle exec rubocop"
  "linter-sass-lint":
    noConfigDisable: true
  nuclide:
    "nuclide-home":
      showHome: false
  "omnisharp-atom":
    codeFormat: false
    codeLens: false
    enhancedHighlighting: true
  "ruby-block":
    highlightLine: false
    highlightLineNumber: true
    showBottomPanel: false
  "ruby-test":
    rspecAllCommand: "/Users/atta/.rbenv/shims/bundle exec rspec --tty spec"
    rspecFileCommand: "/Users/atta/.rbenv/shims/bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "/Users/atta/.rbenv/shims/bundle exec rspec --tty {relative_path}:{line_number}"
    shell: "/bin/zsh"
    specFramework: "rspec"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
".erb.html.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
".hack.html.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
".hackfragment.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
".hg-commit.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
".js.jsx.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
  whitespace:
    removeTrailingWhitespace: true
".ruby.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
